.features {
  background-color: $color-ghost-white;
}

.features__wrapper {
  padding: 40px 0;
}

.features .feature--color {
  margin: 4px 0;
}

.features__title {
  margin: 0 0 40px;
}

.features__list {
  @include list-style;

  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 36px;
}

.features__item {
  margin: 0 auto;
}
